<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>

<p>Splurty was built by <a target= "_blank" href="https://github.com/aryawinterfell">Adriana</a>, who is using the cold winter months to learn how to program. 
</p>
<br />


<div class="col-xs-12 col-sm-4">
<%= image_tag 'amshot.jpeg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Adriana Molello</h2>
<br />
<p>
Adriana is a violinist who been performing music all over New York City for the past decade. Naturally, Adriana had a website built for her music and became very frustrated when she had no clue how to update her site. She started learning basic html to work on her website and found out that she rather enjoyed it. Now, she wants to find out how more things work and make cool stuff... and hopefully not always talk in the third person. 
</p>
</div>
<br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />