<div class="col-xs-10 col-xs-offset-1">
<h1>About Splurty</h1>

<p>Splurty was built by <a target= "_blank" href="https://github.com/aryawinterfell">Adriana</a>, who is using the cold winter months to learn how to program. 
</p>
<br />

<div class="col-xs-12 col-sm-4">
<%= image_tag 'IMG_2788.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Adriana Molello</h2>
<br />
<p>
Adriana is a violinist who been performing music all over New York for the past ten years. Sometimes though, she just likes being a mermaid during the Coney Islands Mermaid Parade. This year, she was a tropical mermaid.
</p>
</div>
<br class="clear" />
</div>